/* Footer Stylings */
footer {
    border-top: 2px solid #ecf0f1;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
}

footer p {
    display: inline;
}

footer .social-icons {
    float:right;
}

footer .social-icons ul {
    list-style: none;
    display: inline;
}

footer .social-icons ul li {
    display: inline;
}

footer .social-icons ul li a {
    text-decoration: none;
    color: deepskyblue;
}

a .email {
    unicode-bidi:bidi-override; 
    direction: rtl;
}

a .resume {
    fill: deepskyblue;
}

<style>
.pdfobject-container {
    height: 1200px !important;
    width: 800px !important;
}
.pdfobject { 
    border: 1px solid #666; 
    height: 1100px !important;
    width: 800px !important;
}
table td {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 3%;
    padding-right: 3%;
}
table td {
    border-top: 2px solid #ecf0f1;
}
.intro {
    margin: 0 10px 0 0px;
    text-align: justify;
    width: 75%;
    font-size: 16px;
}
.introimg {
    max-width: 20%;
}
.bqplot.figure {
    position: relative;
    left: 45%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
button.jupyter-widgets {
    position: relative;
    left: 30%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
</style>
